extends layout

block content
  div(class="jumbotron")
    div(class="container")
        h3(class="page-header") Системы связи

        if info 
          div(class="alert alert-danger", role="alert")
            p= info

        form(class="form-inline",  action="/cs", method="post")
          div(class="form-group")
            label(for="inputTitle", class="sr-only") Title
            input(type="text", id="inputTitle", name="title", class="form-control", placeholder="Введите название системы связи", required=true, autocomplete="off")
          &nbsp
          div(class="form-group")  
            label(for="inputFqStart", class="sr-only") Начальная Частота
            input(type="text", name="fqStart", id="inputFqStart", class="form-control", placeholder="Введите начальную частоту", required=true, autocomplete="off")
          &nbsp
          div(class="form-group")  
            label(for="inputFqEnd", class="sr-only") Конечная частота
            input(type="text", name="fqEnd", id="inputFqStart", class="form-control", placeholder="Введите конечную частоту", required=true, autocomplete="off")
          &nbsp
          button(class="btn btn-success", type="submit") Создать

block link
  -var nav_active='Системы связи';